{
  "openapi": "3.1.0",
  "info": {
    "title": "HUNDESALON NIKA Public Website API",
    "version": "2026-06-30",
    "description": "Public form endpoints for the HUNDESALON NIKA website. These endpoints support contact, booking, newsletter subscription, and optional booking image upload workflows."
  },
  "servers": [
    {
      "url": "https://hundesalon-nika.com"
    }
  ],
  "paths": {
    "/sendmail": {
      "post": {
        "summary": "Submit a contact, booking, or feedback form",
        "operationId": "submitWebsiteForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteForm"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Origin rejected"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/subscribe": {
      "post": {
        "summary": "Subscribe an email address to salon updates",
        "operationId": "subscribeNewsletter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterSubscription"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/NewsletterSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email"
          },
          "403": {
            "description": "Origin rejected"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload an optional JPG or PNG image for a booking request",
        "operationId": "uploadBookingImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BookingUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload accepted or skipped when storage is not configured"
          },
          "400": {
            "description": "Invalid file"
          },
          "403": {
            "description": "Origin rejected"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WebsiteForm": {
        "type": "object",
        "properties": {
          "form_type": {
            "type": "string",
            "enum": ["contact", "booking", "feedback"]
          },
          "lang": {
            "type": "string",
            "enum": ["de", "en", "ru", "uk"]
          },
          "name": {
            "type": "string",
            "maxLength": 180
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 180
          },
          "phone": {
            "type": "string",
            "maxLength": 80
          },
          "message": {
            "type": "string",
            "maxLength": 2000
          },
          "service": {
            "type": "string",
            "maxLength": 160
          },
          "date": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "privacy_consent": {
            "type": "string"
          },
          "uploaded_file_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": ["name", "email"]
      },
      "NewsletterSubscription": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 180
          },
          "lang": {
            "type": "string",
            "enum": ["de", "en", "ru", "uk"]
          },
          "page": {
            "type": "string",
            "maxLength": 260
          }
        },
        "required": ["email"]
      },
      "BookingUpload": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "JPG or PNG, maximum 5 MB"
          },
          "lang": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "time": {
            "type": "string"
          }
        },
        "required": ["file"]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["success"]
      }
    }
  }
}
